 <section id="contact" class="contact section">
    <div class="container section-title" data-aos="fade-up">
    <h2>Contact</h2>
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">
        <div class="col-lg-5">
            {{ content.field_components }}
        </div>
        <div class="col-lg-7">
            {{ content.field_webform }}  
        </div>
    </div>
    </div>
</section>